{% extends 'home.html.twig' %}
{% block title %}
    Liste des critères
{% endblock %}
{% block body %}
    <table class="table table-bordered table-responsive-md">
      <tr>
        <th>Identifiant</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Email</th>
        <th>Password</th>
        <th>Action</th>
        <th>Action</th>
        </tr>
    {% for u in users  %}
        <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.Nom}}</td>
        <td>{{ c.Prenom}}</td>
        <td>{{ c.Email}}</td>
        <td>{{ c.Password}}</td>
        <td><a href="{{ path('user_edit', { 'id': c.id }) }}" class="btn btn-success form-group" >Update</a></td>
        <td><a href="{{ path('user_delete', { 'id': c.id }) }}" class="btn btn-danger form-group" onclick="return confirm('Voulez-vous supprimer?');">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}